@font-face {
    font-family: 'Ailerons-Typeface';
    src: url('../font/Bellarina.otf') format('opentype');
}

@font-face {
    font-family: 'mainfont';    
    src: url('../font/main-font/MaisonNeue-Light.otf')format('opentype');
}
.italic-font {
    font-family: 'Ailerons-Typeface';
}

body {
    font-family: 'mainfont';
    font-weight: normal;
    letter-spacing: 2px;
}

.light-blue-bkg {
    background-color: #1C9AD7;
}

.light-blue-txt {
    color: #1C9AD7;
}

.gray-bkg {
    background-color: #EFEFEF;
}