# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Logs
logs/*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data and imports
*.csv

# dotenv environment variables file
.env*

# Editor directories and files MacOS
.DS_Store

# Zip files
*.zip

#MongoDB data
*.mongodb
